RewriteEngine on
RewriteRule ^css - [L,NC]
RewriteRule ^js - [L,NC]
RewriteRule ^bootstrap - [L,NC]
RewriteRule ^balade - [L,NC]
RewriteRule ^jplayer - [L,NC]
RewriteRule ^jquery - [L,NC]
RewriteRule (.*)                      index.php?b=$1  [QSA,L]
